<div class="w-[425px] h-[832px] bg-neutral-950">
    <div class="carrito-lateral flex flex-col justify-center">
        <div class="carrito-lateral__header">
            <h3 class="carrito-lateral__titulo">Carrito</h3>
            <button class="carrito-lateral__cerrar" >
                <i class="fas fa-times"></i>
            </button>
        </div>
        <div class="carrito-lateral__body flex-col">
            <div class="carrito-lateral__productos flex-col justify-start">
                <div class="w-[394px] h-12 pt-[15px] flex-col justify-end items-start gap-3 inline-flex">
                    <div class="h-[19px] justify-center items-center inline-flex">
                      <div class="w-[260px] text-purple-200 text-opacity-95 text-base font-normal ">matambre al disco</div>
                      <div class="w-[51px] text-center text-purple-50 text-opacity-95 text-base font-normal ">x 2</div>
                      <div class="w-[77px] text-right text-purple-50 text-opacity-95 text-base font-normal ">$20</div>
                    </div>
                    <div class="w-[394px] h-0.5 bg-violet-400 bg-opacity-25 rounded-xl"></div>
                  </div>
            </div>
            <div class="carrito-lateral__total">
                <div class="w-[394px] h-12 pt-[15px] flex-col justify-end items-start gap-3 inline-flex">
                    <div class="h-[19px] justify-center items-center inline-flex">
                      <div class="w-[260px] text-purple-200 text-base font-normal ">TOTAL</div>
                      <div class="w-[127px] text-right text-purple-50 text-base font-normal ">$20</div>
                    </div>
                    <div class="w-[394px] h-0.5 bg-violet-400 rounded-xl"></div>
                </div>
            </div>
        </div>
        <div class="carrito-lateral__footer">
            <button class="carrito-lateral__footer-btn">Cerrar</button>
            <button class="carrito-lateral__">Comprar</button>
        </div>
</div>
</div>
