<div class="">  
    <div class="">
        <div class="">
            <h3 class="">Carrito</h3>
        </div>
        <div class="" *ngFor="let item of carrito?.items">
            <div class="">
                <h4 class="">{{item.name}}</h4>
                <p class="">{{item.description}}</p>
                <p class="">{{item.cantidad}}</p>
                <p class="">{{item.subTotal | currency:'$ '}}</p>
            </div>
            <div class="">
                <button class="" (click)="carritoService.addItem(item)">+</button>
                <button class="" (click)="carritoService.removeItem(item)">-</button>
                <button class="" (click)="carritoService.deleteItem(item)">x</button>
            </div>
        </div>
        <div>
            <p class="">Total: {{carrito?.total| currency:'$ '}}</p>
        </div>
        <div class="">
            <button class="">Cerrar</button>
            <button class="" (click)="finalizarCompra()">Comprar</button>
        </div>
</div>
</div>
